<div class="left-nav-container">
  <div class="left-nav-topic">
    <h3>Angular</h3>
    <mat-nav-list>
      <a href="#" style="display: block">Article headin 1</a>
      <a href="#" style="display: block">Article headin 2</a>
      <a href="#" style="display: block">Article headin 3</a>
    </mat-nav-list>
  </div>

  <div class="left-nav-topic">
    <h3>Ionic</h3>
    <mat-nav-list>
      <a href="#" style="display: block">Article headin 1</a>
      <a href="#" style="display: block">Article headin 2</a>
      <a href="#" style="display: block">Article headin 3</a>
    </mat-nav-list>
  </div>

  <div class="left-nav-topic">
    <h3>Productivity</h3>
    <mat-nav-list>
      <a href="#" style="display: block">Article headin 1</a>
      <a href="#" style="display: block">Article headin 2</a>
      <a href="#" style="display: block">Article headin 3</a>
    </mat-nav-list>
  </div>
</div>
